body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.container{
    width: 280px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px ;
    margin: 0px;
    margin-top: 10%;
}

.text{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.image-equilibrium{
    width: 250px;
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

p{  
    font-size:15px;
    font-weight: 50;
    color: hsl(215, 51%, 70%);
}

.equilibrium-title{
    font-weight: 600;
    margin-top: 10px;
    color: hsl(0, 0%, 100%);
}

.details{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.details h4{
    margin-top: 0px;
    margin-bottom: 0px;
}

.timeleft  h4{
    font-size: 14px;
    font-weight: 400;
    color: hsl(215, 51%, 70%);
}

.price h4{
    font-size: 14px;
    font-weight: 400;
    color: hsl(178, 100%, 50%);
}

hr{
   border-top: 0.01px;
   border-left: 0px;
   border-right: 0px;
   border-color: hsl(215, 32%, 27%);
   border-radius: 0px;

}

.price{
    padding-top: 0px;
    padding-bottom: 0px;
    display:flex;
    margin:0;
}

.timeleft{
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    margin:0;
}

.price img{
    margin-right: 5px;
}

.timeleft img{
    margin-right: 5px;
}

.creator{
    display: flex;
    padding: 10px 0px 10px 0px;
}

.creator h4{
    font-size: 14px;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    color: hsl(215, 51%, 70%);
    vertical-align: middle;
}

.creator h4 span{
    color: hsl(0, 0%, 100%);
}

.creator img{
    
    height: 25px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(0, 0%, 100%);
}

